body,
html {
	font-family: 'Viaoda Libre', cursive;
	text-align: center;
  background: url(header.jpg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

 
 h1 {
 	font-size: 3rem;
 	color: #1b9c19;

 }

 hr {
 	border-color: #F05F44;
 	border-width: 3px;
 	max-width: 65px;
 }

 .buffer {
 	height: 8rem;

 }

 .btn {
 	font-weight: 700;
 	border-radius: 300px ;
 	text-transform: uppercase;
 	
 }

 .btn-xl {
 	padding: 1rem 2rem;
 }

 .btn-primary {
 	background-color: #F05F44;
 	border-color: #F05F44;
 }

 .btn-primary:hover {
 	background-color: #073B5D;
 	border-color: #ee4b08;
 	border-width: 4px;
 }

.container {
    position: relative;
    top: 50%;
    transform: translateY(100%);
}


section {
	position: relative;
	transform: translateY(77%);
}